.assets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.asset {
  transition: transform 0.5s ease;
  width: 33%;
}

.asset:hover {
  transform: scale(0.9);
}

a {
  text-decoration: none;
}
